In [51]:
import pandas as pd
import datetime

In [52]:
df_base = datetime.datetime.today()
df_base

datetime.datetime(2020, 12, 22, 16, 10, 9, 187742)

In [53]:
df_date_list = [df_base - datetime.timedelta(days=x) for x in range(0, 20)]
df_date_list

[datetime.datetime(2020, 12, 22, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 21, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 20, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 19, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 18, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 17, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 16, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 15, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 14, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 13, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 12, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 11, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 10, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 9, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 8, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 7, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 6, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 5, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 4, 16, 10, 9, 187742),
 datetime.datetime(2020, 12, 3, 16, 10, 9, 187742)]

In [54]:
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2020-12-22 16:10:09.187742
1  2020-12-21 16:10:09.187742
2  2020-12-20 16:10:09.187742
3  2020-12-19 16:10:09.187742
4  2020-12-18 16:10:09.187742
5  2020-12-17 16:10:09.187742
6  2020-12-16 16:10:09.187742
7  2020-12-15 16:10:09.187742
8  2020-12-14 16:10:09.187742
9  2020-12-13 16:10:09.187742
10 2020-12-12 16:10:09.187742
11 2020-12-11 16:10:09.187742
12 2020-12-10 16:10:09.187742
13 2020-12-09 16:10:09.187742
14 2020-12-08 16:10:09.187742
15 2020-12-07 16:10:09.187742
16 2020-12-06 16:10:09.187742
17 2020-12-05 16:10:09.187742
18 2020-12-04 16:10:09.187742
19 2020-12-03 16:10:09.187742

In [55]:
df['day_of_week'] = df['day'].dt.day_name()
df

                          day day_of_week
0  2020-12-22 16:10:09.187742     Tuesday
1  2020-12-21 16:10:09.187742      Monday
2  2020-12-20 16:10:09.187742      Sunday
3  2020-12-19 16:10:09.187742    Saturday
4  2020-12-18 16:10:09.187742      Friday
5  2020-12-17 16:10:09.187742    Thursday
6  2020-12-16 16:10:09.187742   Wednesday
7  2020-12-15 16:10:09.187742     Tuesday
8  2020-12-14 16:10:09.187742      Monday
9  2020-12-13 16:10:09.187742      Sunday
10 2020-12-12 16:10:09.187742    Saturday
11 2020-12-11 16:10:09.187742      Friday
12 2020-12-10 16:10:09.187742    Thursday
13 2020-12-09 16:10:09.187742   Wednesday
14 2020-12-08 16:10:09.187742     Tuesday
15 2020-12-07 16:10:09.187742      Monday
16 2020-12-06 16:10:09.187742      Sunday
17 2020-12-05 16:10:09.187742    Saturday
18 2020-12-04 16:10:09.187742      Friday
19 2020-12-03 16:10:09.187742    Thursday

In [56]:
day_mapping={'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

In [57]:
df['day_ordinal']=df['day_of_week'].map(day_mapping)

In [58]:
df

                          day day_of_week  day_ordinal
0  2020-12-22 16:10:09.187742     Tuesday            2
1  2020-12-21 16:10:09.187742      Monday            1
2  2020-12-20 16:10:09.187742      Sunday            7
3  2020-12-19 16:10:09.187742    Saturday            6
4  2020-12-18 16:10:09.187742      Friday            5
5  2020-12-17 16:10:09.187742    Thursday            4
6  2020-12-16 16:10:09.187742   Wednesday            3
7  2020-12-15 16:10:09.187742     Tuesday            2
8  2020-12-14 16:10:09.187742      Monday            1
9  2020-12-13 16:10:09.187742      Sunday            7
10 2020-12-12 16:10:09.187742    Saturday            6
11 2020-12-11 16:10:09.187742      Friday            5
12 2020-12-10 16:10:09.187742    Thursday            4
13 2020-12-09 16:10:09.187742   Wednesday            3
14 2020-12-08 16:10:09.187742     Tuesday            2
15 2020-12-07 16:10:09.187742      Monday            1
16 2020-12-06 16:10:09.187742      Sunday            7
17 2020-12-05 16:10:09.187742    Saturday            6
18 2020-12-04 16:10:09.187742      Friday            5
19 2020-12-03 16:10:09.187742    Thursday            4